@model smartTechAuthenticator.ViewModels.HelpGuidViewModel
@{
    ViewBag.Title = "HelpGuild";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<style>
    @@media(max-width:768px) {
        .password-block {
            position: relative;
        }

        .fa-eye {
            position: absolute;
            right: 15px;
            top: 53.5%;
        }

        .fa-eye-slash {
            position: absolute;
            right: 15px;
            top: 53.5%;
        }

        .hero {
            overflow: scroll !important;
            padding: 0px 0 60px 0 !important;
            height: 500px;
            top: 28% !important;
            background-color: white;
        }

        .login_container {
            position: relative;
            top: 55%;
        }

        .footer-menu .fa {
            display: block !important;
            margin: auto !important;
        }

        .signin_option_block {
            margin-bottom: 20px;
        }
    }

    @@media (min-width: 769px) {
        .hero {
            height: -webkit-fill-available;
            margin-top: 0px !important;
            background-color: white;
        }

        .fa-eye {
            position: absolute;
            right: 3%;
            top: 55%;
        }

        .fa-eye-slash {
            position: absolute;
            right: 3%;
            top: 55%;
        }

        .login_section {
            padding: 0%;
        }

        #hero .container {
            margin-top: 0%;
        }

        .password-block {
            position: relative;
        }
    }

    .fixed-top {
        padding: 0px;
    }

    @@media (min-width: 768px) {
        #hero .container {
            margin-top: -3%;
        }
    }

    body {
        background-color: #eee;
    }

    .card b {
        color: #212529;
    }

    nav#navbar li.dropdown.user-setting-icon > ul {
        right: 0 !important;
        left: auto !important;
    }
</style>

<div class="container" style="padding-top: 150px; padding-bottom: 100px;">
    <h2 style="color: rgb(33, 37, 41);font-weight: bold;">Help & Guid</h2>
    <div class="card">
        <div class="card-body">
            @if (Model != null)
            {
                foreach (var item in Model.HelpList)
                {

                    <div class="title">
                        <h2>@item.Title</h2>
                    </div>
                    <div class="content">
                        <p>
                            @Html.Raw(@item.Description)
                        </p>
                    </div>
                }
            }

        </div>
    </div>
    <br>
</div>
