.theme-logo {
  width: 62px;
  height: 62px;
}
body.error404 {
    background-image: url("../Content/assets/img/bg-image.svg");
    background-attachment: fixed;
    background-size: cover;
    background-color: #ffffff;
}
body.error404 > .error-content {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
}
.error404 .mini-text {
    font-size: 33px;
    font-weight: 700;
    margin-bottom: 0;
    color: #1b55e2;
}
.error404 .img-cartoon { width: 170px; height: 170px; }
.error404 .error-number {
  font-size: 170px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 15px;
  text-shadow: 0px 5px 4px rgba(31, 45, 61, 0.10196078431372549);
}
.error404 .error-text { font-size: 18px; color: #3b3f5c; font-weight: 600; }
.error404 a.btn {
    width: 134px;
    padding: 6px;
    font-size: 17px;
    background-image: linear-gradient(135deg, #1b55e2 0%, #5c1ac3 100%);
    border: none;
    letter-spacing: 2px;
}
.error404 a.btn:hover, .error404 a.btn:not(:disabled):not(.disabled):active { background-image: linear-gradient(to right, #1b55e2 0%, #5c1ac3 100%); }